<div class = "user">
	<tr>
		<td> <%=user.username %> </td>
		<td> <%=user.name %> </td>
		<td> <%=user.email %> </td>
		<td> <%= user.created_at %>
		<% if session[:user_id] == "razvan3"%>
			<td><%= button_to "Delete user", {:controller => "users", :action => "destroy", :id => user.id}, method: :delete, data: {confirm: "Are you sure you want to permanently delete this user"} %>
			</td>
		<% end %>
	</tr>	
</div>