<div id = "register">
	<div id = "notice">
		<% flash.each do |name, msg| -%>
			<%=content_tag :div, msg, class: name %>
		<% end %>
	</div>
	<%=form_for :users, :url => {:action => "create"}, :html => {id: "newUser"}, remote: true do |f| %>
		Username: <br/>
		<%= f.text_field :username, :required => true%> <br/>
		Password: <br/>
		<%= f.password_field :password, :required => true, class: 'regInput' %> <br/>
		Confirm password: <br/>
		<%= f.password_field :confirm, :required => true, class: 'confirm' %> <br/>
		Name: <br/>
		<%= f.text_field :name, :required => true%> <br/>
		Email: <br/>
		<%= f.email_field :email, :required => true%> <br/>
		<%= f.submit "Register" %>
	<%end%>	
</div>