<div id = "header">
	<%= link_to "The Blog", root_path, :id => "theblog" %>
		<%if !session[:user_id] && !session[:admin] %> 
		<div id = "login">
	 		<%= form_for :sessions, :url => {:controller => "sessions", :action => "create"}, method: :post do |f| %>
	 			User: <%= f.text_field :username%><br/>
	 			Password: <%= f.password_field :password%>
	 		<br/><%= f.submit "Login"%>
	 		<%end%>
	 		<%= button_to "Register", new_user_path, method: :get %>
	 		<%= link_to "Forgot password", {:controller => "users", :action => "email"}, method: :post%>
	 	</div>
	 	<%else%>
		<div id = "login">
	 		<%= button_to "Add Article", new_post_path, method: :get%>
	 		<%= button_to "Logout", {:controller => "sessions", :action => "destroy"}, method: :delete %>
	 		<% if session[:admin] %>
	 			<%= button_to "Users", users_path, method: :get %>
	 		<% end %>
		</div>
		<%end %> 
</div>