<%= render(partial: "header") %>

<div class = "articles">
	<% if session[:user_id] == @post.name || session[:admin] == @post.name %>
		<%= form_for :post, :url => {:action => "update"}, method: :put do |f| %>
			<%= render partial: "articleForm", locals: {f: f} %>
			<div class = "images">
			<% @post.images.each do |i| %>
				<div class = "deleteImage">
				<%= link_to image_tag(i.img.thumb), {:controller => "images", :action => "destroy", :id => i.id, :post_id => @post.id}, method: :delete %>
				</div>
			<%end%>
			</div>
			<%= f.submit "Edit article", :class => "editArticle" %>
		<%end %>
	<%end %>
</div>


