<%= render(partial: "header") %>

<div class = "articles">
	<%= render(partial: "showArticle") %>
	<% @post.images.each do |i| %>
	<%= link_to image_tag(i.img.url(:large)), i.img.url(:original), :popup => ['original_image', 'height=700, width = 900'] %>
	<%end%>
	<div class = "comments">	
		<br/>Comments
		<% @post.comments[0...-1].each do |comment| %>
			<%= render partial: "comment", object: comment %>
		<%end%>
	</div>
	<br/>Add a comment <br/>
		<div class = "newComment">
		<%= form_for ([@comment.post, @comment]) do |f| %>
			Name: <br/><%= f.text_field :name %> <br/>
			Comment: <br/><%= f.text_area :content, cols: 70, rows: 6 %> <br/>
			<%= f.submit "Post comment" %>
		<%end%>
		</div>
</div>

