<%= render(partial: "header") %>

<div class = "articles">
	<%= render(partial: "showArticle") %>
	<% @post.images.each do |i| %>
	<%= image_tag i.img.url(:large) %>
	<%end%>
	<br/>Add a comment <br/>
	<%= form_for :comments, :url => {:controller => "comments_controller", :action => "create"}, method: :post do |f| %>
		Name: <%= f.text_field :name %><br/>
		<%= f.text_area :content, cols: 70, rows: 10 %>
		<%= f.submit "Add comment" %>
	<% end %>
</div>
