<%= render(partial: "header") %>

<div class = "articles">
	<%= render(partial: "showArticle") %>
	<% @post.images.each do |i| %>
	<%= image_tag i.img.url(:large) %>
	<%end%>
	Comments
	<% @post.comments.each do |comment| %>
		<%= render partial: "comment", object: comment %>
	<%end%>
	<br/>Add a comment <br/>
		<%= form_for ([@comment.post, @comment]) do |f| %>
			Name: <br/><%= f.text_field :name %> <br/>
			Content: <br/><%= f.text_area :content, cols: 70, rows: 6 %> <br/>
			<%= f.submit "Post comment" %>
		<%end%>
</div>

